
@{
    ViewBag.Title = "OperasBas";
}

<h2>OperasBas</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Número 1:
                </label>
                <input type="text" name="n1" value="" />
                <br />
            <label>Número 2:
            </label>
                <input type="text" name="n2" value="" />
                <br />

                <group>
                    <input type="radio" name="op" value="suma" /> Suma
                    <input type="radio" name="op" value="resta"/> Resta
                    <input type="radio" name="op" value="multiplicacion"/> Multiplicación
                    <input type="radio" name="op" value="division"/> División
                    </group>
            <input type="submit" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h1>El resultado es: @ViewBag.Res</h1>
        </div>
    </div>
</div>